/*Sección Title*/

section.title {
	margin: 3% 6% 6%;
}

.title__div {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.title__profile {
	width: 246px;
	height: 246px;
	border-radius: 100%;
	margin-left: 2%;
	align-self: center;
}

.title__bio {
	font-size: 3.5rem;
}

.title__subsection {
	font-size: 2rem;
	line-height: 3rem;
	margin: 1rem 0;
}

.title__network {
	display: flex;
	justify-content: space-between;
	font-size: 1.5rem;
	max-width: 700px;
}


/*Desktop*/
@media (max-width: 1440px) {
	.title__profile {
        width: 246px;
	    height: 246px;
    }
    .title__bio {
        font-size: 2.4rem;
    }
    .title__subsection {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .title__network {
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        max-width: 500px;
    }
}

/*Tablet*/
@media (max-width: 768px) {
    .title__profile {
        width: 123px;
	    height: 123px;
    }
    .title__bio {
        font-size: 1.5rem;
    }
    
    .title__subsection {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .title__network {
        display: flex;
        justify-content: space-between;
        font-size: .65rem;
        max-width: 300px;
    }
}

/*Mobile*/
@media (max-width: 425px) {
    .title__div {
        flex-direction: column;
    }
    .title__profile {
        width: 160px;
        height: 160px;
        margin: 0 0 1rem;
    }
}